* {
    font-size: 14px;
    font-family: 'calibri';
}

td,
th,
tr,
table {
    border-top: 1px solid gray;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 275px;
    max-width: 275px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 300px;
    max-width: 300px;
}

img {
    max-width: 30vh;
    align-self: center;
    width: 30vh;
    padding: 10px;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}